@use "../../components/base";

.homeTop {
  background-image: linear-gradient(
      rgba(33, 68, 87, 0.5),
      rgba(33, 68, 87, 0.5)
    ),
    url("../../assets//img/frontpageImage.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7rem;

  .homeHeader {
    font-size: 3rem;
    color: base.$white-color;
    display: inline-block;
    flex: 1;

    &Secondary {
      color: base.$secondary-color;
    }
  }

  .homeSearch {
    background-color: base.$menu-color;
    border-radius: 99px;
    flex: 1;
    height: 3rem;
    position: relative;

    &Icon {
      margin-left: 1.5rem;
      height: 3rem;
    }

    &Input {
      background-color: base.$menu-color;
      outline: none;
      border: none;
      width: 75%;
      position: absolute;
      margin-left: 1rem;
      line-height: 3rem;
      font-size: 1rem;
      font-family: inherit;
      border-radius: 0 99px 99px 0;

      &::placeholder {
        font-size: 1rem;
      }
    }

    &Button {
      all: unset;
      border-radius: 99px;
      background-color: base.$primary-color;
      color: base.$white-color;
      position: absolute;
      right: 0.5rem;
      padding: 0.35rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      width: 5rem;
      height: 50%;
      text-align: center;
      top: calc(25% - 0.35rem);
      transition: all 0.5s;

      &:hover {
        // background-color: base.$secondary-color;
        // color: base.$primary-color;
        opacity: 0.75;
      }
    }
  }
}

.homeBottom {
  padding: 7rem;
  height: fit-content;

  &Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    &Title {
      font-size: 2.25rem;
      font-weight: 1200;
    }

    &Link {
      color: base.$link-color;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5rem;
  }
}
