@use "../../components/base";
@import "../../breakpoints/breakpoints.scss";

.homeTop {
  background-image: linear-gradient(
      rgba(33, 68, 87, 0.5),
      rgba(33, 68, 87, 0.5)
    ),
    url("../../assets//img/frontpageImage.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7rem;

  @include media("<=desktop") {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }

  @include media("<=tablet") {
    height: 50vh;
    padding: 4rem;
  }

  .homeHeader {
    font-size: 3rem;
    color: base.$white-color;
    display: inline-block;
    flex: 1;

    &Secondary {
      color: base.$secondary-color;
    }

    @include media("<=desktop") {
      width: 60%;
      flex: 0;
      text-align: center;
    }

    @include media("<=tablet") {
      font-size: 1.5rem;
    }
  }

  .homeSearch {
    background-color: base.$menu-color;
    border-radius: 99px;
    flex: 1;
    height: 3rem;
    position: relative;

    @include media("<=desktop") {
      all: unset;
      height: 2.5rem;
      width: 50%;
      background-color: base.$menu-color;
      border-radius: 50px;
      position: relative;
    }

    @include media("<=tablet") {
      width: 15rem;
    }

    &Icon {
      margin-left: 1.5rem;
      height: 3rem;

      @include media("<=desktop") {
        display: none;
      }
    }

    &Input {
      background-color: base.$menu-color;
      outline: none;
      border: none;
      width: 75%;
      position: absolute;
      margin-left: 1rem;
      line-height: 3rem;
      font-size: 1rem;
      font-family: inherit;
      border-radius: 0 99px 99px 0;

      &::placeholder {
        font-size: 1rem;
      }

      @include media("<=desktop") {
        line-height: 2.5rem;
        border-radius: 50px;
        width: 100%;
        margin-left: 0;
        padding: 0 1rem;
        left: -3rem;
      }

      @include media("<=tablet") {
        left: 0;
      }
    }

    &Button {
      all: unset;
      border-radius: 99px;
      background-color: base.$primary-color;
      color: base.$white-color;
      position: absolute;
      right: 0.5rem;
      padding: 0.35rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      width: 5rem;
      height: 50%;
      text-align: center;
      top: calc(25% - 0.35rem);
      transition: opacity 1s, background-color 1s, color 1s 0.25s,
        letter-spacing 1s 0.25s;

      @include media("<=desktop") {
        width: fit-content;
        top: calc(100% - 2.4rem);
        // left: calc(50% - 2.5rem);
        right: calc(0% - 6rem);
        height: 1.7rem;
        line-height: 0.3rem;
        border-radius: 50px;
        background-color: base.$secondary-color;
        color: base.$primary-color;
      }

      @include media("<=tablet") {
        top: calc(100% + 1rem);
        left: calc(50% - 2.5rem);
      }

      &:hover {
        // background-color: base.$secondary-color;
        // color: base.$primary-color;
        opacity: 0.75;
        background-color: base.$secondary-color;
        color: base.$primary-color;
        letter-spacing: 2px;
      }
    }
  }
}

.homeBottom {
  padding: 7rem;
  height: fit-content;

  &Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    @include media("<=tablet") {
      flex-direction: column;
    }

    &Title {
      font-size: 2.25rem;
      font-weight: 1200;
    }

    &Link {
      color: base.$link-color;
      text-decoration: none;
      font-weight: 700;
      transition: color 300ms;

      &:hover {
        color: base.$secondary-color;
      }
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 0 auto 5rem;
    flex-wrap: wrap;

    @include media("<=tablet") {
      flex-wrap: wrap;
    }
  }
}
