@use "../base";

.details {
  margin : 50%;
  justify-content: center;

  .avatar {
    width: 100%;
    border-radius: 50%;
  }

  .dateCategory {
    color: base.$info-color;
    text-align: center;
  }
}
