@use "../base";

.title {
  .top {
    padding: 150px 150px 0px 350px;
    z-index: index 2;
    flex-wrap: wrap;
  }

  .dateCategory {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .busbtn {
    height: 100%;
  }

  .detailsh1 {
    font-size: 2rem;
    font-weight: 800;
  }

  .image {
    width: 80%;
    height: 100%;
  }
  .icon {
    width: 3%;
    height: 100%;
  }
  .container {
    // justify-content: left;
    // width: 30%;
    height: 100%;
    margin-left: 350px;
    margin-right: 15rem;
    // padding-right: 100px;
    text-align: left;
    font-size: normal;
    font-weight: 400;
  }
}
