@use "../base";
@import "../../breakpoints/breakpoints.scss";

.filterContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;

  .filterSelect {
    border: 1px solid #b4b4bb;
    width: 22.5%;
    border-radius: 10px;
    position: absolute;
    z-index: 45;
    background-color: base.$white-color;

    @include media("<=phone") {
      width: 30%;
    }

    &:nth-of-type(2) {
      left: 37%;
      transform: translateX(-50%);

      @include media("<=phone") {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:nth-of-type(3) {
      left: 63%;
      transform: translateX(-50%);

      @include media("<=phone") {
        right: 0;
        transform: translateX(25%);
      }
    }

    .placeholder {
      font-size: 0.75rem;
      color: #9696a0;
      padding: 0.5rem 0rem 0rem 1rem;
    }

    .option {
      @extend %selectOptionStyle;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.025);
      }

      .chosen {
        @include media("<=phone") {
          font-size: 0.75rem;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &Arrow {
        font-size: 1.25rem;
        color: #787885;
        transition: all 0.5s;
        margin-right: 1rem;

        @include media("<=phone") {
          display: none;
        }
      }
    }

    .lists {
      li {
        list-style: none;
        padding: 0.75rem 0;
        display: block;
        width: 100%;
        padding-left: 1rem;
        cursor: pointer;

        @include media("<=phone") {
          font-size: 0.75rem;
        }

        input[type="radio"] {
          display: none;
        }

        &:hover {
          background-color: #ebf2ff;
        }

        &:last-child:hover {
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}
