@use "../base";
@import "../../breakpoints/breakpoints.scss";

.card {
  border-radius: 8px;
  width: 22.5%;
  font-size: 0.75rem;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 1.5rem calc((100% - 22.5% * 4) / 10);

  @include media("<=tablet") {
    width: 22.5rem;
  }

  &:hover {
    box-shadow: 4px 2px 16px 2px #21445726;
    opacity: 0.75;
    transform: scale(1.05);
  }

  &Link {
    text-decoration: none;
    color: inherit;
  }

  &ImageContainer {
    height: 20rem;
    border-radius: 8px 8px 0px 0px;

    .cardImage {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
    }

    @include media("<=desktop") {
      height: 15rem;
    }
  }

  &Text {
    padding: 1rem 0.25rem;

    @include media("<=tablet") {
      font-size: 0.5rem;
    }

    &Chip {
      all: unset;
      background-color: #f0f2e9;
      color: base.$primary-color;
      padding: 0.25rem 1rem;
      border-radius: 4px;
      margin-bottom: 0.5rem;
    }

    &Time {
      color: #373737;
      margin-bottom: 0.5rem;
    }

    &PostTitle {
      font-size: 1rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &Author {
      color: #999999;
    }
  }
}
