@use "../../components/base";

.signinContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 

  .signinSpanError {
    color: base.$error-color;
    //font-size: 0.7rem;
    padding-bottom: 2.5rem;
  }

  .signinHeader {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  .signinInput {
    @extend %inputbuttonStyle;
    outline: #999;
    border: 1px solid #999;

    &:nth-of-type(1) {
      margin-top: 1.5rem;
    }

    &:focus {
      outline: black;
      border: 1px solid black;
    }

    &::placeholder {
      font-size: 1rem;
    }
  }

  .signinButton {
    @extend %inputbuttonStyle;
    background-color: base.$primary-color;
    color: base.$white-color;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    height: 3.5rem;
  }

  .signinPasswordContainer {
    @extend %inputbuttonStyle;
    display: block;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    width: 35rem;
    border: 1px solid #999;
    margin: 0 0 0.25rem;

    .signinInputPassword {
      width: 65%;
      outline: none;
      border: none;
      display: block;
      font-size: 1rem;
    }

    .eyeIcon {
      position: absolute;
      top: calc(50% - 7.335px);
      right: 1rem;
      cursor: pointer;
    }
  }

  .signinText {
    color: base.$link-color;
    font-weight: 700;
    font-size: 1rem;
  }
}
