@use "../base";

.navbar {
  background-color: base.$primary-color;
  padding: 1.25rem 7rem;
  display: flex;
  width: 100%;
  z-index: 50;
  justify-content: space-between;
  position: fixed;

  .logo {
    width: 14.25rem;
  }

  .navSearchContainer {
    flex: 1;
    margin-left: 2rem;
    margin-top: 0.25rem;

    .navSearch {
      background-color: base.$menu-color;
      border-radius: 99px;
      width: 50%;
      justify-self: left;
      height: 2.5rem;
      position: relative;
      justify-self: inline-start;

      &Icon {
        margin-left: 1.5rem;
        height: 2.5rem;
      }

      &Input {
        background-color: base.$menu-color;
        outline: none;
        border: none;
        width: 85%;
        position: absolute;
        margin-left: 1rem;
        line-height: 2.5rem;
        font-size: 1rem;
        font-family: inherit;
        border-radius: 0 99px 99px 0;

        &::placeholder {
          font-size: 1rem;
        }
      }
    }
  }

  .navContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: none;
  }

  .link {
    color: base.$white-color;
    text-decoration: none;
    line-height: 3rem;
    margin: 0 1rem;
    font-size: 1.25rem;

    &:visited {
      text-decoration: none;
    }
  }

  .user {
    display: flex;
    justify-content: space-around;
    // display: none;
    width: 12.6rem;

    .userPP {
      @extend %profilePictureContainer;
      margin-top: 0.375rem;

      img {
        @extend %profilePicture;
      }
    }

    p {
      color: base.$white-color;
      font-weight: 700;
      font-size: 1.15rem;
      line-height: 3rem;
      // margin-left: 2rem;
    }
  }
}
