@use "../base";
@import "../../breakpoints/breakpoints.scss";

.footer {
  padding: 3.8rem 7rem;
  background-color: base.$primary-color;
  font-size: 14px;
  color: base.$menu-color;
  display: flex;
  justify-content: space-between;

  &Logo {
    cursor: pointer;
  }

  a {
    all: unset;
  }

  @include media("<=desktop") {
    padding: 2rem 3rem;
  }

  &Col1 {
    width: 25rem;

    @include media("<=LGdesktop") {
      width: 35%;
    }

    @include media("<=desktop") {
      width: 25%;

      img {
        width: 12rem;
      }
    }

    @include media("<=tablet") {
      width: 100%;
      text-align: center;
    }

    @include media("<=phone") {
      img {
        width: 100%;
      }
    }
  }

  &Col2,
  &Col3 {
    @include media("<=LGdesktop") {
      width: 15%;
    }

    @include media("<=desktop") {
      width: 15%;
    }

    @include media("<=tablet") {
      display: none;
    }
  }

  &Col4 {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media("<=desktop") {
      width: 35%;
    }

    @include media("<=tablet") {
      display: none;
    }

    ul {
      display: flex;
      width: 70%;
      justify-content: space-between;

      li {
        margin-bottom: 0.2rem;
        &:hover {
          color: base.$secondary-color;
        }
      }
    }
  }

  .textInfo {
    color: base.$info-color;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .head {
    color: base.$white-color;
    font-weight: 700;
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }

  #follow {
    margin: 2rem 0 0.5rem;
  }

  .iconsContainer {
    display: flex;
    @include media("<=desktop") {
      justify-content: center;
      text-align: center;
    }

    @include media("<=tablet") {
      justify-content: center;
      text-align: center;
    }

    .iconContainer {
      background-color: base.$icon-color;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: base.$secondary-color;
      }

      .icon {
        color: base.$primary-color;
      }
    }
  }

  .copyright {
    color: base.$info-color;
    margin-top: 2.5rem;
  }

  .menu {
    list-style: none;
    line-height: 1.5rem;

    ul {
      display: flex;
    }

    li {
      margin-bottom: 0.5rem;
      cursor: pointer;

      @include media("<=desktop") {
        margin-right: 1rem;
      }

      &:hover {
        color: base.$secondary-color;
      }
    }
  }
}
