@use "../../../components/base";
@import "../../../breakpoints/breakpoints.scss";

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 115vh;

  @include media("<=desktop") {
    height: 150vh;
  }

  @include media("<=tablet") {
    height: 100vh;
  }

  @include media("<=phone") {
    height: 100vh;
  }

  .signupHeader {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @include media("<=phone") {
      // margin-bottom: 0;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      margin-top: 5rem;
    }
  }
  .signupInputError {
    @extend %inputbuttonStyle;
    outline: base.$error-color;
    border: 1px solid base.$error-color;
    display: block;
    margin: 1rem 0 0;

    @include media("<=phone") {
      height: 2rem;
      border: 1px solid base.$error-color;
      width: 17rem;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;
    }
  }

  .signupSpanError {
    color: base.$error-color;
    font-size: 0.7rem;
    padding-left: 1rem;
    @include media("<=phone") {
      padding-left: 1rem;
      font-size: 0.5rem;
    }
  }

  .signupPasswordContainerError {
    @extend %inputbuttonStyle;
    display: block;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    width: 35rem;
    // border: 1px solid base.$error-color;
    margin: 1rem 0 0;

    @include media("<=phone") {
      //height: 2rem;
      // border: 1px solid base.$error-color;
      width: 17rem;
      margin: auto;
      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;

      // margin: 10rem 0 0;
    }

    .signupInputPassword {
      @extend %inputpasswordStyle;
      @include media("<=phone") {
        height: 2rem;
        padding-left: 0.75rem;
        border-radius: 99px;
        font-size: 0.75rem;
      }
    }

    .eyeIcon {
      position: absolute;
      top: calc(50% - 7.335px);
      right: 1rem;
      cursor: pointer;
      @include media("<=phone") {
        font-size: 0.75rem;
        margin-top: 0.1rem;
      }
    }
  }

  .signupInput {
    @extend %inputbuttonStyle;
    outline: #999;
    border: 1px solid #999;
    display: block;
    @include media("<=phone") {
      font-size: 0.75rem;
      margin-top: 0.1rem;
      width: 17rem;
    }

    &:focus {
      outline: black;
      border: 1px solid black;
    }

    &::placeholder {
      font-size: 1rem;
    }

    &:nth-of-type(1) {
      margin-top: 1.5rem;
    }
  }

  .signupButton {
    @extend %inputbuttonStyle;
    background-color: base.$primary-color;
    color: base.$white-color;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    height: 3.5rem;
    display: block;

    @include media("<=phone") {
      height: 2rem;

      width: 17rem;
      margin: auto;
      font-size: 0.75rem;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;
    }
  }

  .signupPasswordContainer {
    @extend %inputbuttonStyle;
    display: block;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    width: 35rem;
    border: 1px solid #999;
    margin: 1.25rem 0 0.25rem;

    .signupInputPassword {
      @extend %inputpasswordStyle;
    }

    .eyeIcon {
      @extend %eyeiconStyle;
    }
  }

  .signupText {
    color: base.$link-color;
    font-weight: 700;
    font-size: 1rem;
    @include media("<=phone") {
      padding-left: 1rem;
      font-size: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;
    }
  }
}
