@import "../../breakpoints/breakpoints.scss";

.eventContainer {
  padding: 9rem 7rem 7rem;
  justify-content: center;
  position: relative;

  @include media("<=phone") {
    padding: 9rem 2rem 4rem;
  }

  .results {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  // hr {
  //   position: absolute;
  //   top: 17.5rem;
  //   width: 88%;
  // }

  .cards {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 7rem auto 5rem;
    flex-wrap: wrap;
  }
}
